extends _layout

block vars
	- array = {body_class:'mod_background', layout_mod:'', sub_keywords:'', title_inner:'CALENDAR'}
block content_block
	+bread(['Главная'], 'Раздел')
	section.events 
		.section_in 
			.events_main--w 
				.events_main--function 
					.events_mainfunction--content 
						.events_head--title 
							h1 Календарь событий и мероприятий
						.events_mainHead--filter.normal_head--filter
							.events_mainHead--group 
								.events_mainHead--input.normal_filter--inputTxt
									p Текст
									input(type="text" placeholder="Например, текст")
								.events_mainHead--input.date_inputs.normal_filter--inputTxt
									p Дата события
									.mod_input--date
										input(type="text", name="txt" placeholder="Все время" onfocus="(this.type = 'date')")
							.events_mainBottom--group 
								.events_mainBottom--input.mod_select.normal_filter--select
									p Рубрика 
									select(name="oiv" id="oiv")
										option(value="Все виды") Все виды  
										option(value="Все виды") Все виды 
										option(value="Все виды") Все виды 
										option(value="Все виды") Все виды 
										option(value="Все виды") Все виды
								.events_mainBottom--btn 
									button 
										.filter_icon 
											img(src="i/global/searchs.svg", alt="")
										p Найти 
					.event_calendar
						#cal(class="calendar" data-language="ru")
				.events_mainGrid--w 
					ul.events_mainGrid
						-
							var events = [
								{
									title: 'Соглашение о сотрудничестве между администрацией Краснодарского края и Министерством финансов Российской Федерации в рамках реализации Стратегии повышения финансовой грамотности в Российской Федерации на 2017 — 2023 годы',
									txt: 'Фонд включен в государственный реестр микрофинансовых организаций 11 октября 2013 года, регистрационный номер 401303203004073. Основным видом деятельности Фонда является предоставление микрозаймов субъектам малого и среднего предпринимательства и организациям инфраструктуры поддержки субъектов малого и среднего предпринимательства Краснодарского края в сумме до 5 000 000 рублей сроком до 3 лет.',
								},
								{
									title: 'Соглашение о сотрудничестве между администрацией Краснодарского края и Министерством финансов Российской Федерации в рамках реализации Стратегии повышения финансовой грамотности в Российской Федерации на 2017 — 2023 годы',
									txt: 'Фонд включен в государственный реестр микрофинансовых организаций 11 октября 2013 года, регистрационный номер 401303203004073. Основным видом деятельности Фонда является предоставление микрозаймов субъектам малого и среднего предпринимательства и организациям инфраструктуры поддержки субъектов малого и среднего предпринимательства Краснодарского края в сумме до 5 000 000 рублей сроком до 3 лет.',
								},
								{
									title: 'Соглашение о сотрудничестве между администрацией Краснодарского края и Министерством финансов Российской Федерации в рамках реализации Стратегии повышения финансовой грамотности в Российской Федерации на 2017 — 2023 годы',
									txt: 'Фонд включен в государственный реестр микрофинансовых организаций 11 октября 2013 года, регистрационный номер 401303203004073. Основным видом деятельности Фонда является предоставление микрозаймов субъектам малого и среднего предпринимательства и организациям инфраструктуры поддержки субъектов малого и среднего предпринимательства Краснодарского края в сумме до 5 000 000 рублей сроком до 3 лет.  Фонд включен в государственный реестр микрофинансовых организаций 11 октября 2013 года, регистрационный номер 401303203004073. Основным видом деятельности Фонда является предоставление микрозаймов субъектам малого и среднего предпринимательства и организациям инфраструктуры поддержки субъектов малого и среднего предпринимательства Краснодарского края в сумме до 5 000 000 рублей сроком до 3 лет. ',
									img: 'i/material/material_0.jpg'
								},
								{
									title: 'Соглашение о сотрудничестве между администрацией Краснодарского края и Министерством финансов Российской Федерации в рамках реализации Стратегии повышения финансовой грамотности в Российской Федерации на 2017 — 2023 годы',
									txt: 'Фонд включен в государственный реестр микрофинансовых организаций 11 октября 2013 года, регистрационный номер 401303203004073. Основным видом деятельности Фонда является предоставление микрозаймов субъектам малого и среднего предпринимательства и организациям инфраструктуры поддержки субъектов малого и среднего предпринимательства Краснодарского края в сумме до 5 000 000 рублей сроком до 3 лет.',
								},
								{
									title: 'Соглашение о сотрудничестве между администрацией Краснодарского края и Министерством финансов Российской Федерации в рамках реализации Стратегии повышения финансовой грамотности в Российской Федерации на 2017 — 2023 годы',
									txt: 'Фонд включен в государственный реестр микрофинансовых организаций 11 октября 2013 года, регистрационный номер 401303203004073. Основным видом деятельности Фонда является предоставление микрозаймов субъектам малого и среднего предпринимательства и организациям инфраструктуры поддержки субъектов малого и среднего предпринимательства Краснодарского края в сумме до 5 000 000 рублей сроком до 3 лет.',
									img: 'i/material/material_0.jpg'
								},
							]
						each item in events 
							if item.img
								li.events_grid--itemsWrapper
									.events_grid--itemsMain(style="	margin-bottom: 7.8rem;")
										.events_griditems--content(style="margin-right: 7.7rem; max-width: 112.1rem;") 
											p=item.title 
											span=item.txt 
											.events_gridItems--buttons 
												a(href="#") Подробнее
												a(href="#" class="events_big--btn") Принять участие в мероприятии
										.events_griditems--img 
											img(src=item.img, alt="")
									.events_grid--itemBottom 
										p!='Рубрика: <a href="#">Другое</a>'
										.events_gridItems--info 
											.events_gridItems--icons 
												img(src="i/global/calendar.svg", alt="")
											ul 
												li
													p Время и дата начала
													span 22.02.2023 в 9:00
												li
													p Время и дата начала
													span 22.02.2023 в 9:00
							else
								li.events_grid--itemsWrapper
									.events_grid--itemsMain(style="margin-bottom: 4.1rem;")
										.events_griditems--content 
											p=item.title 
											span=item.txt 
											.events_gridItems--buttons 
												a(href="#") Подробнее
												a(href="#" class="events_big--btn") Принять участие в мероприятии
									.events_grid--itemBottom 
										p!='Рубрика: <a href="#">Другое</a>'
										.events_gridItems--info 
											.events_gridItems--icons 
												img(src="i/global/calendar.svg", alt="")
											ul 
												li
													p Время и дата начала
													span 22.02.2023 в 9:00
												li
													p Время и дата начала
													span 22.02.2023 в 9:00
					.normal_main--bottom 
						.normal_btn--more 
							a(href="#") Показать ещё
						.normal_list-var 
							p Выводить:
							ul 
								li 
									a(href="#") 10
								li 
									a(href="#") 50
								li 
									a(href="#") 100  

									
