extends _layout

block vars
	- array = {body_class:'mod_background', layout_mod:'', sub_keywords:'', title_inner:'NEWS ACRHIVE'}
block content_block
	+bread(['Главная'], 'Раздел')
	section.normal.news 
		.section_in 
			.normal_main--w 
				.normal_main--head 
					h1!='Лента</br>новостей'
					.normal_head--filter 
						ul
							li
								p Текст
								.normal_filter--inputTxt 
									input(type="text", name="txt" placeholder="Например, текст")
							li
								p Дата новости
								.normal_filter--inputTxt 
									input(type="text", name="txt" placeholder="Все время" onfocus="(this.type = 'date')")
							li
								p Раздел
								.normal_filter--select.mod_select 
									select(name="oiv" id="oiv")
										option(value="Все разделы") Все разделы  
										option(value="Все разделы") Все разделы 
										option(value="Все разделы") Все разделы 
										option(value="Все разделы") Все разделы 
										option(value="Все разделы") Все разделы
							li 
								button 
									.filter_icon 
										img(src="i/global/searchs.svg", alt="")
									p Найти
				.events_mainGrid--w.news_mainGrid--w 
					ul.events_mainGrid.news_mainGrid
						-
							var events = [
								{
									title: 'Соглашение о сотрудничестве между администрацией Краснодарского края и Министерством финансов Российской Федерации в рамках реализации Стратегии повышения финансовой грамотности в Российской Федерации на 2017 — 2023 годы',
									txt: 'Фонд включен в государственный реестр микрофинансовых организаций 11 октября 2013 года, регистрационный номер 401303203004073. Основным видом деятельности Фонда является предоставление микрозаймов субъектам малого и среднего предпринимательства и организациям инфраструктуры поддержки субъектов малого и среднего предпринимательства Краснодарского края в сумме до 5 000 000 рублей сроком до 3 лет.',
								},
								{
									title: 'Соглашение о сотрудничестве между администрацией Краснодарского края и Министерством финансов Российской Федерации в рамках реализации Стратегии повышения финансовой грамотности в Российской Федерации на 2017 — 2023 годы',
									txt: 'Фонд включен в государственный реестр микрофинансовых организаций 11 октября 2013 года, регистрационный номер 401303203004073. Основным видом деятельности Фонда является предоставление микрозаймов субъектам малого и среднего предпринимательства и организациям инфраструктуры поддержки субъектов малого и среднего предпринимательства Краснодарского края в сумме до 5 000 000 рублей сроком до 3 лет.',
								},
								{
									title: 'Соглашение о сотрудничестве между администрацией Краснодарского края и Министерством финансов Российской Федерации в рамках реализации Стратегии повышения финансовой грамотности в Российской Федерации на 2017 — 2023 годы',
									txt: 'Фонд включен в государственный реестр микрофинансовых организаций 11 октября 2013 года, регистрационный номер 401303203004073. Основным видом деятельности Фонда является предоставление микрозаймов субъектам малого и среднего предпринимательства и организациям инфраструктуры поддержки субъектов малого и среднего предпринимательства Краснодарского края в сумме до 5 000 000 рублей сроком до 3 лет.  Фонд включен в государственный реестр микрофинансовых организаций 11 октября 2013 года, регистрационный номер 401303203004073. Основным видом деятельности Фонда является предоставление микрозаймов субъектам малого и среднего предпринимательства и организациям инфраструктуры поддержки субъектов малого и среднего предпринимательства Краснодарского края в сумме до 5 000 000 рублей сроком до 3 лет. ',
									img: 'i/material/material_0.jpg'
								},
								{
									title: 'Соглашение о сотрудничестве между администрацией Краснодарского края и Министерством финансов Российской Федерации в рамках реализации Стратегии повышения финансовой грамотности в Российской Федерации на 2017 — 2023 годы',
									txt: 'Фонд включен в государственный реестр микрофинансовых организаций 11 октября 2013 года, регистрационный номер 401303203004073. Основным видом деятельности Фонда является предоставление микрозаймов субъектам малого и среднего предпринимательства и организациям инфраструктуры поддержки субъектов малого и среднего предпринимательства Краснодарского края в сумме до 5 000 000 рублей сроком до 3 лет.',
								},
								{
									title: 'Соглашение о сотрудничестве между администрацией Краснодарского края и Министерством финансов Российской Федерации в рамках реализации Стратегии повышения финансовой грамотности в Российской Федерации на 2017 — 2023 годы',
									txt: 'Фонд включен в государственный реестр микрофинансовых организаций 11 октября 2013 года, регистрационный номер 401303203004073. Основным видом деятельности Фонда является предоставление микрозаймов субъектам малого и среднего предпринимательства и организациям инфраструктуры поддержки субъектов малого и среднего предпринимательства Краснодарского края в сумме до 5 000 000 рублей сроком до 3 лет.',
									img: 'i/material/material_0.jpg'
								},
							]
						each item in events 
							if item.img
								li.events_grid--itemsWrapper
									.events_grid--itemsMain(style="	margin-bottom: 3.5rem;")
										.events_griditems--content(style="margin-right: 13.5rem; max-width: 106.4rem;")
											.news_time--publish 
												p 03.03.2020
											p=item.title 
											span=item.txt 
											.events_gridItems--buttons 
												a(href="#") Подробнее
										.events_griditems--img 
											img(src=item.img, alt="")
							else
								li.events_grid--itemsWrapper
									.events_grid--itemsMain(style="margin-bottom: 5.8rem;")
										.events_griditems--content
											.news_time--publish 
												p 03.03.2020
											p=item.title 
											span=item.txt 
											.events_gridItems--buttons 
												a(href="#") Подробнее
					.normal_main--bottom 
						.normal_btn--more 
							a(href="#") Показать ещё
						.normal_list-var 
							p Выводить:
							ul 
								li 
									a(href="#") 10
								li 
									a(href="#") 50
								li 
									a(href="#") 100  
