extends _layout

block vars
	- array = {body_class:'mod_background', layout_mod:'', sub_keywords:'', title_inner:'Register'}
block content_block
	+bread(['Главная'], 'Раздел')
	section.register 
		.section_in 
			.register_main--w
				.register_main--content 
					.register_title 
						h1 Регистрация
					ul.register_form--head
						li(data-tab="reg1" class="active_tab") Юридическое лицо
						li(data-tab="reg2") Индивидуальный предприниматель
						li(data-tab="reg3") Физическое лицо
					.ragister_tabs
						ul.register_form--list 
							li.register_form--item(data-tab="reg1")
								.register_form--w
									form(id="form1")
										.register_inform 
											p Информация о компании
											.register_group
												.register_group--top
													.register_input
														label(for="inn14") ИНН
														input(type="text" name="inn14" id="inn14" required)
													.register_input
														label(for="nameOrg1") Наименование организации
														input(type="text" name="nameOrg1" id="nameOrg1" required)
												.register_group--body
													.register_input
														label(for="family1") Фамилия ответственного лица
														input(type="text" name="family1" id="family1" required)
													.register_input
														label(for="namePeople1") Имя ответственного лица
														input(type="text" name="namePeople1" id="namePeople1" required)
													.register_input
														label(for="fam13") Отчество ответственного лица
														input(type="text" name="fam13" id="fam13" required)
												.register_input
													label(for="prof1") Должность ответственного лица
													input(type="text" name="prof1" id="prof1" required)
										.register_inform.register_inform--user 
											p Информация о пользователе
											.register_group
												.register_group--top
													.register_input
														label(for="phone1") Телефон
														input(type="tel" name="phone1" id="phone1" required)
													.register_input
														label(for="email111") E-mail
														input(type="email" name="E-mail111" id="email111" required)
												.register_group--body
													.register_input
														label(for="pass13") Пароль
														input(type="password" name="pass13" id="pass13" required)
													.register_input
														label(for="pass2") Повторите пароль
														input(type="password" name="pass2" id="pass2" required)
												.register_group--bottom
													.register_input
														label(for="fam2") Фамилия 
														input(type="text" name="fam2" id="fam2" required)
													.register_input
														label(for="name3") Имя 
														input(type="text" name="name3" id="name3" required)
													.register_input
														label(for="dad1") Отчество  
														input(type="text" name="dad1" id="dad1" required)
										.register_check--all 
											ul 
												li 
													input(type="checkbox", name="succes5" id="succes5")
													label(for="succes5")!='Согласен с <a href="#"> условиями </a> использования настоящего ресурса' 
												li 
													input(type="checkbox", name="succes6" id="succes6")
													label(for="succes6")!='Я даю свое <a href="#"> согласие </a> на обработку Министерством экономики Краснодарского края своих персональных данных' 
										.register_all--btn 
											ul 
												li 
													button(type="submit") Зарегистрироваться
												li 
													a(href="#") Восстановить пароль
												li 
													a(href="#") Войти
								.person_tab--img 
									img(src="i/global/registers.png", alt="")
							li.register_form--item(data-tab="reg2")
								.register_form--w
									form(id="form2")
										.register_inform 
											p Информация о ИП
											.register_group
												.register_group--top
													.register_input
														label(for="inn13") ИНН
														input(type="text" name="inn13" id="inn13")
													.register_input
														label(for="nameOrg") Наименование организации
														input(type="text" name="nameOrg" id="nameOrg")
												.register_group--body
													.register_input
														label(for="family") Фамилия ответственного лица
														input(type="text" name="family" id="family" required)
													.register_input
														label(for="namePeople") Имя ответственного лица
														input(type="text" name="namePeople" id="namePeople" required)
													.register_input
														label(for="fam") Отчество ответственного лица
														input(type="text" name="fam" id="fam" required)
												.register_input
													label(for="prof") Должность ответственного лица
													input(type="text" name="prof" id="prof" required)
										.register_inform.register_inform--user 
											p Информация о пользователе
											.register_group
												.register_group--top
													.register_input
														label(for="phonesss") Телефон
														input(type="tel" name="phonesss" id="phonesss" required)
													.register_input
														label(for="email1111") E-mail
														input(type="email" name="E-mails" id="email1111" required)
												.register_group--body
													.register_input
														label(for="passe") Пароль
														input(type="password" name="passe" id="passe" required)
													.register_input
														label(for="pass111") Повторите пароль
														input(type="password" name="pass111" id="pass111" required)
												.register_group--bottom
													.register_input
														label(for="fam111") Фамилия 
														input(type="text" name="fam111" id="fam111" required)
													.register_input
														label(for="name22") Имя 
														input(type="text" name="name22" id="name22" required)
													.register_input
														label(for="dad11") Отчество  
														input(type="text" name="dad11" id="dad11" required)
										.register_check--all 
											ul 
												li 
													input(type="checkbox", name="succes1" id="succes1")
													label(for="succes1")!='Согласен с <a href="#"> условиями </a> использования настоящего ресурса' 
												li 
													input(type="checkbox", name="succes2" id="succes2")
													label(for="succes2")!='Я даю свое <a href="#"> согласие </a> на обработку Министерством экономики Краснодарского края своих персональных данных' 
										.register_all--btn 
											ul 
												li 
													button(type="submit") Зарегистрироваться
												li 
													a(href="#") Восстановить пароль
												li 
													a(href="#") Войти
								.person_tab--img 
									img(src="i/global/registers.png", alt="")
							li.register_form--item(data-tab="reg3")
								.register_form--w
									form(id="form3")
										.register_inform.register_inform--user 
											p Информация о пользователе
											.register_group
												.register_group--top
													.register_input
														label(for="phone") Телефон
														input(type="tel" name="phone" id="phone" required)
													.register_input
														label(for="E-mail") E-mail
														input(type="email" name="E-mail" id="email" required)
												.register_group--body
													.register_input
														label(for="pass") Пароль
														input(type="password" name="pass" id="pass" required)
													.register_input
														label(for="pass1") Повторите пароль
														input(type="password" name="pass1" id="pass1" required)
												.register_group--bottom
													.register_input
														label(for="fam12") Фамилия 
														input(type="text" name="fam12" id="fam12" required)
													.register_input
														label(for="name23") Имя 
														input(type="text" name="name23" id="name23" required)
													.register_input
														label(for="dad22") Отчество  
														input(type="text" name="dad22" id="dad22" required)
										.register_check--all 
											ul 
												li 
													input(type="checkbox", name="succes3" id="succes3")
													label(for="succes3")!='Согласен с <a href="#"> условиями </a> использования настоящего ресурса' 
												li 
													input(type="checkbox", name="succes4" id="succes4")
													label(for="succes4")!='Я даю свое <a href="#"> согласие </a> на обработку Министерством экономики Краснодарского края своих персональных данных' 
										.register_all--btn 
											ul 
												li 
													button(type="submit") Зарегистрироваться
												li 
													a(href="#") Восстановить пароль
												li 
													a(href="#") Войти
								.person_tab--img 
									img(src="i/global/registers.png", alt="")
				